* { box-sizing: border-box;  background-image: url("/home/smx2a/Escriptori/pruebas/images/oceano.jpg"); }

#hombre {
  width: 118px;
  height: 182px;
  background: url("images/okkey.png") repeat-x;
  animation:walk 1s steps(8) infinite, desplazarse 10s steps(1000) infinite;
  position:relative;
  bottom:63px;
}

#sky {
  background: url("images/sky.png") repeat-x;
}

#sea {
  background: url("images/sea.png") repeat-x;
  position:relative;
  top:145px;
}

#submarino {
  width: 1170px;
  height: 658px;
  background: url("images/tiburon.png") repeat-x;
  animation: sprite 3s steps(20) infinite;
  position:relative;
  bottom:-300px;
  right: 300px;
}


@keyframes sprite {
 100% {
   background-position: -23400px;
 }
}

@keyframes walk {
    0% { background-position:0 }
    100% { background-position:-923px }
}

@keyframes desplazarse {
    100% { margin-left: 500px; }
}

@keyframes movebg {
  0% { background-position:550px }
  100% { background-position:0 }
}

body {
  margin:0;
}
