* { box-sizing: border-box; }

#submarino {
  width: 416px;
  height: 240px;
  background: url("images/peleagoku.gif") repeat-x;
  animation:nadar 1s steps(524) infinite, moverse 10s steps(1000) infinite;
  position:relative;
  bottom:-400px;
}
