* { box-sizing: border-box; }

#goku {
  width: 253px;
  height: 224px;
  background: url("images/goku.png") repeat-x;
  animation: sprite 15s steps(190) infinite;
  position:relative;
  bottom:-300px;
  transform:scale(2);
  left: 200px;
}

@keyframes sprite {
 100% {
   background-position: -48640px;
 }
}
