* { box-sizing: border-box; }

#naruto {
  width: 238px;
  height: 152px;
  background: url("images/naruto.png") repeat-x;
  animation: sprite 5s steps(39) infinite;
  position:relative;
  bottom:-300px;
  transform:scale(2);
  left: 120px;

}

@keyframes sprite {
 100% {
   background-position: -9282px;
 }
}
