* { box-sizing: border-box; }

#stickman{
  width: 399px;
  height: 227px;
  background: url("images/stickman.png") repeat-x;
  animation: sprite 15s steps(133) infinite;
  position:relative;
  bottom:-300px;
}

@keyframes sprite {
 100% {
   background-position: -53200px;
 }
}
